/* Reset default browser styles */
body,
h1,
h2,
h3,
p,
ul,
li,
form,
input,
textarea,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #333;
}

nav {
    background-color: #f2f2f2;
    padding: 10px 20px;
}

nav ul {

