/* Reset default browser styles */
body,
h1,
h2,
h3,
p,
ul,
li,
form,
input,
textarea,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #f8f8f8;
}

nav {
    background-color: #222;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #f8f8f8;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ccc;
}

section {
    padding: 50px;
    text-align: center;
}

#hero {
    background-color: #333;
    color: #f8f8f8;
}

#hero h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

#hero p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #f8f8f8;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #222;
    color: #f8f8f8;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}

#about {
    background-color: #f8f8f8;
}

#projects {
    background-color: #fff;
}

.project {
    margin-bottom: 30px;
    text-align: left;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#contact {
    background-color: #f8f8f8;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

input,
textarea {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #222;
    color: #f8f8f8;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #222;
    color: #f8f8f8;
    padding: 20px;
    text-align: center;
}
